extends default
include view_post

block scripts
	script(type="text/javascript" src="/scripts/posts.js")

block contents
	div(id="post_search_list" class="post_list")
		form(action="/reddit/search" method="get")
			label(for="search_input") Search: 
			input(type="text" id="search_input" name="query" value=query)
		br
		br
		a(href=`/reddit/search?query=${query}&step=before` class="ref-button") Previous
		a(href=`/reddit/search?query=${query}&step=after` class="ref-button") Next
		br
		br
		- if (posts.length == 0)
			p There Are No Posts In Here!
		each post in posts
			+view_post(post)
			br
			br
		a(href=`/reddit/search?query=${query}&step=before` class="ref-button") Previous
		a(href=`/reddit/search?query=${query}&step=after` class="ref-button") Next
		br
		br
